@charset "UTF-8";
/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
  background-color: transparent;
  cursor: pointer;
}

span {
  display: inline-block;
}

a {
  display: inline-block;
  color: black;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: gilroy;
  font-size: 16px;
  color: white;
}

.container {
  max-width: 358px;
  margin: 0 auto;
}

.wrapper {
  background-image: url("/img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
}
.wrapper::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 31px;
  margin-bottom: 88px;
  position: relative;
  z-index: 2;
}
.header__right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  gap: 21px;
}
.header__sotial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header__right-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.social__link {
  margin-bottom: 3px;
}
.herader__right-btn {
  padding: 7px 19px 6px 22px;
  border-radius: 88px;
  border: 1px solid #FFF;
  margin-top: -6px;
  color: white;
  font-size: 16px;
}

.tel {
  margin-right: 15px;
  color: white;
}

.menu__icon {
  width: 33px;
  height: 16px;
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
}
.menu__icon::after {
  content: "";
  width: 100%;
  height: 9%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu__icon::before {
  content: "";
  width: 100%;
  height: 9%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu__icon span {
  width: 100%;
  height: 9%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.menu__icon.--active.menu__icon::after {
  top: 50%;
  -webkit-transform: rotate(45deg) translate(0, -50%);
          transform: rotate(45deg) translate(0, -50%);
}
.menu__icon.--active.menu__icon::before {
  bottom: 50%;
  -webkit-transform: rotate(-45deg) translate(0, 50%);
          transform: rotate(-45deg) translate(0, 50%);
}
.menu__icon.--active.menu__icon span {
  opacity: 0;
}

.hero__body {
  position: relative;
  z-index: 2;
}
.hero__title {
  margin-bottom: 30px;
  margin-left: -3px;
}
.hero__title-strong {
  font-size: 55px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
.hero__title-sub {
  font-size: 28px;
  line-height: normal;
}
.hero__list {
  margin-bottom: 46px;
}
.hero__list-item {
  line-height: 28px;
}
.hero__btn {
  font-weight: 700;
  color: rgba(44, 44, 44, 0.85);
  border-radius: 141px;
  background: #FFF;
  padding: 16px 41px 17px 35px;
  margin-bottom: 15px;
  margin-left: -5px;
  font-size: 16px;
}
.hero__btn-desc {
  font-size: 14px;
  line-height: 20px;
  max-width: 196px;
  margin-left: 2px;
  margin-bottom: 72px;
}

.square__area {
  margin-left: 2px;
}
.price__house {
  margin-left: 3px;
}
.hero__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: -20px;
  position: relative;
  z-index: 2;
  margin-bottom: 32px;
}
.hero__location-link {
  border-radius: 70px;
  background: rgba(255, 255, 255, 0.14);
  padding: 10px 71px 9px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.hero__location-img {
  padding-left: 15px;
  margin-top: -3px;
  margin-right: -3px;
}
.hero__location-desc {
  margin-top: 8px;
  margin-left: 5px;
  font-size: 14px;
  line-height: 20px;
  max-width: 103px;
  color: white;
}
.hero__footer {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(19px);
          backdrop-filter: blur(19px);
  margin-top: auto;
}
.hero__footer-body {
  min-height: 124px;
  padding: 18px 0 24px 0;
  text-align: center;
}
.hero__footer-desc {
  margin-bottom: 13px;
  margin-top: 2px;
}
.hero__footer-link {
  padding: 16px 20px 15px 52px;
  border-radius: 79px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-27.78%, #0B6D7A), color-stop(67.46%, #309FAD));
  background: linear-gradient(180deg, #0B6D7A -27.78%, #309FAD 67.46%);
  color: white;
  margin-top: 2px;
  margin-right: 20px;
  position: relative;
}
.hero__footer-link::before {
  content: "";
  background-image: url("/img/icon.svg");
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
}