.header {
    &__body {
        display: flex;
        justify-content: space-between;
        margin-top: 31px;
        margin-bottom: 88px;
        position: relative;
        z-index: 3;
        @media(min-width: 960px){
            margin-bottom: 40px;
            margin-top: 28px;
            margin-left: 5px;
        }
        @media(min-width: 1366px){
            margin-top: 38px;
            margin-bottom: 62px;
        }
        @media(min-width: 1920px){
            margin-top: 55px;
            margin-bottom: 88px;
        }
    }

    &__left {
    }

    &__right {
        display:inline-flex;
        align-items: center;
        justify-content: flex-end;
        max-width: 255px;
        width: 100%;
        flex-wrap: wrap;
        gap: 15px;
            @media(min-width: 960px){
            display: flex;
            align-items: baseline;
            max-width: 350px;
            gap: 9px;
        }
        @media(min-width: 1366px){
            max-width: 450px;
        }
        @media(min-width: 1920px){
            max-width: 590px;
            gap: 20px;
        }
    }
    
    &__right-call{
        @media(min-width: 960px){
            order: 2;
        }
    }

    &__right-btn {
        margin-top: -6px;
        @media(min-width: 1920px){
            margin-top: -10px;
        }
    }

    &__sotial {
        display: flex;
        gap: 11px;
        margin-right: 7px;
        margin-top: -2px;
        @media(min-width: 960px){
            margin-right: 2px;
        }

    }
    &__sotial .social__img{
        width: 15px;
        height: 15px;
        @media(min-width: 960px){
            width: 15px;
            height: 15px;
        }
        @media(min-width: 1366px){
            width: 22px;
            height: 22px;
        }
        @media(min-width: 1920px){
            width: 28px;
            height: 28px;
        }


    }


    &__right-tel{
        @media(min-width: 960px){
            order: 1;
        }
    }

    &__tel-link {
    }
}

.menu {
     &__body{
    @media(min-width: 960px){
            display: flex;
            gap: 19px;
    }
    } 
    
    &__icon {
        @media(min-width: 1366px){
            margin-top: 3px;
        }
    }

    &__desc {
        @media(min-width: 1366px){
            font-size: 18px;
        }
        @media(min-width: 1366px){
            margin-left: 9px;
        }
        @media(min-width: 1920px){
            font-size: 25px;
            margin-left: 20px;
        }
    }
}

.social {
    &__link-telegram{

    }

    &__link-whatsapp{

    }

    &__img {
       }
    }

.tel {
    margin-right: 15px;
    color: white;
    @media(min-width: 1366px){
        font-size: 18px;
    }
    @media(min-width: 1920px){
        font-size: 25px;
    }
}

.call{
    &__btn{
        padding: 7px 19px 6px 22px;
        border-radius: 88px;
        border: 1px solid #FFF;
        color: white;
        font-size: 16px;
        @media(min-width: 960px){
            font-size: 12px;
            padding: 6px 14px 5px 19px;
        }
        @media(min-width: 1366px){
            font-size: 18px;
            padding: 7px 22px 9px 25px;
        }
        @media(min-width: 1920px){
            font-size: 25px;
            padding: 10px 31px 13px 35px;
        } 
    }
}
