.header {

    &__body {
        display: flex;
        justify-content: space-between;
        margin-top: 31px;
        margin-bottom: 88px;
        position: relative;
        z-index: 2;
    }

    &__left {
    }

    &__right {
    }

    &__right-top {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        gap: 21px;
    }

    &__sotial {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__right-bottom {
        display: flex;
        justify-content: flex-end;
    }

    &__tel-link {
    }
}

.menu {

    &__icon {
    }

    &__desc {
    }
}

.social {
    &__link {
        margin-bottom: 3px;
    }

    &__img {
    }
}
.herader {

    &__right-btn {
        padding: 7px 19px 6px 22px;
        border-radius: 88px;
        border: 1px solid #FFF;
        margin-top: -6px;
        color: white;
        font-size: 16px;
    }
}
.tel {
    margin-right: 15px;
    color: white;
}
