.hero {
position: relative;
z-index: 2;
margin-top: 86px;
    &__body {
    }

    &__title {
        color: white;
    }

    &__title-strong {
        font-size: 55px;
        font-weight: 600;
        letter-spacing: 1.1px;
        line-height: normal;
        text-transform: uppercase;
    }

    &__title-sub {
        font-size: 28px;
        line-height: normal;
    }
}
