.hero {

    &__body {
        position: relative;
        z-index: 2;
    }

    &__title {
        margin-bottom: 30px;
        margin-left: -3px;
    }

    &__title-strong {
        font-size: 55px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.1px;
        text-transform: uppercase;
    }

    &__title-sub {
        font-size: 28px;
        line-height: normal;
    }

    &__list {
        margin-bottom: 46px;
        
    }

    &__list-item {
        line-height: 28px;
    }

    &__btn {
        font-weight: 700;
        color: rgba(44, 44, 44, 0.85);
        border-radius: 141px;
        background: #FFF;
        padding: 16px 41px 17px 35px;
        margin-bottom: 15px;
        margin-left: -5px;
        font-size: 16px;
    }

    &__btn-desc {
        font-size: 14px;
        line-height: 20px;
        max-width: 196px;
        margin-left: 2px;
        margin-bottom: 72px;
    }
}

.sum {

    &__house {
    }

    &__house-numbers {
    }

    &__house-letters {
    }
}
.square {

    &__letters {
    }

    &__numbers {
    }

    &__area {
        margin-left: 2px;
    }

    &__area-letters {
    }

    &__area-numbers {
    }
}
.price__house {
margin-left: 3px;

    &__house-letters {
    }

    &__house-numbers {
    }
}
.hero {
    &__location {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: -20px;
        position: relative;
        z-index: 2;
        margin-bottom: 32px;
    }

    &__location-link{
        border-radius: 70px;
        background: rgba(255, 255, 255, 0.14);
        padding: 10px 71px 9px 0;
        display: flex;
        gap: 10px;
    }

    &__location-img{
        padding-left: 15px;
        margin-top: -3px;
        margin-right: -3px;
    }

    &__location-desc {
        margin-top: 8px;
        margin-left: 5px;
        font-size: 14px;
        line-height: 20px;
        max-width: 103px;
        color: white;
    }

    &__footer {
        background: rgba(255, 255, 255, 0.30);
        backdrop-filter: blur(19px);
        margin-top: auto;
    }

    &__footer-body {
        min-height: 124px;
        padding: 18px 0 24px 0;
        text-align: center;

    }

    &__footer-desc {
        margin-bottom: 13px;
        margin-top: 2px;
    }

    &__footer-link {
        padding: 16px 20px 15px 52px;
        border-radius: 79px;
        background: linear-gradient(180deg, #0B6D7A -27.78%, #309FAD 67.46%);
        color: white;
        margin-top: 2px;
        margin-right: 20px;
        position: relative;
    }

    &__footer-link::before{
        content: "";
        background-image: url("/img/icon.svg");
        object-fit: cover;
        position: absolute;
        z-index: 2;
        width: 28px;
        height: 28px;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
    }
}
